<div class="row">
  <div class="col-sm">
    {{#if flashMessage}}
      <div class="alert alert-danger" role="alert">{{flashMessage}}</div>
    {{/if}}

    <h1>Subcategories</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Index</th>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each subcategories}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{index}}</td>
            <td>
              {{#with (getById ../categories categoryId)}}
                {{name}}
              {{/with}}
            </td>
            <td>
              <div class="list-button-container">
                <a class="btn btn-dark" href="{{../basePath}}/subcategories/edit/{{id}}">Edit</a>
                &nbsp;
                <form action="{{../basePath}}/subcategories/delete/{{id}}" method="POST" onsubmit="return confirm('Are you sure?');">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <a class="btn btn-dark" href="{{basePath}}/subcategories/create">Create new</a>
  </div>
</div>
