<!DOCTYPE html>
<html>
  <head>
    <title>Math Stuff</title>
    <link rel="stylesheet" type="text/css" href="{{urlBase}}/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{urlBase}}/css/bootstrap-reboot.css" />
    <link rel="stylesheet" type="text/css" href="{{urlBase}}/css/bootstrap-grid.css" />
  </head>
</html>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {{#each files}}
          <div>
            <a href="/{{url}}">{{name}}</a>
          </div>
        {{/each}}
      </div>

      <div class="col-sm-10">
        {{{body}}}
      </div>
    </div>
  </div>
</body>
