<div class="row">
  <div class="col-sm">
    {{#if flashMessage}}
      <div class="alert alert-danger" role="alert">{{flashMessage}}</div>
    {{/if}}

    {{#unless page}}
      <h1>Create a New Page</h1>
    {{else}}
      <h1>Edit Page #{{page.id}}</h1>
    {{/unless}}

    <form
      {{#unless page}}
        action="/pages/create"
      {{else}}
        action="/pages/edit/{{page.id}}"
      {{/unless}}
      method="POST"
    >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          name="name"
          type="text"
          class="form-control"
          id="name"
          {{#if page}}
            value="{{page.name}}"
          {{/if}}
        />
      </div>

      <div class="form-group">
        <label for="urlTitle">URL Title</label>
        <input
          name="urlTitle"
          type="text"
          class="form-control"
          id="urlTitle"
          {{#if page}}
            value="{{page.urlTitle}}"
          {{/if}}
        />
      </div>

      <div class="form-group">
        <label for="subcategoryId">Subcategory</label>
        <select name="subcategoryId" class="form-control" id="subcategoryId">
          {{#each subcategories}}
            <option
              value="{{id}}"
              {{#if (equals id ../page.subcategoryId)}}
                selected
              {{/if}}
            >
              {{name}}
            </option>
          {{/each}}
        </select>
      </div>

      <button class="btn btn-dark">
        {{#unless page}}
          Create
        {{else}}
          Save
        {{/unless}}
      </button>
    </form>
  </div>
</div>
