<div class="row">
  <div class="col-sm">
    <h1>Pages</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>URL Title</th>
          <th>Index</th>
          <th>Subcategory</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each pages}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{urlTitle}}</td>
            <td>{{index}}</td>
            <td>{{subcategoryId}}</td>
            <td>
              <a class="btn btn-dark" href="/pages/edit/{{id}}">Edit</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <a class="btn btn-dark" href="/pages/create">Create new</a>
  </div>
</div>
