<!DOCTYPE html>
<html>
  <head>
    <title>Math Visualized - Admin Interface</title>

    <link rel="stylesheet" type="text/css" href="{{basePath}}/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{basePath}}/css/bootstrap-reboot.css" />
    <link rel="stylesheet" type="text/css" href="{{basePath}}/css/bootstrap-grid.css" />
    <link rel="stylesheet" type="text/css" href="{{basePath}}/css/jquery-ui.min.css"></link>
    <link rel="stylesheet" type="text/css" href="{{basePath}}/css/style.css" />

    <script src="{{basePath}}/js/jquery-3.4.1.js"></script>
    <script src="{{basePath}}/js/jquery-ui.js"></script>
    <script src="{{basePath}}/js/script.js"></script>
  </head>
  <body>
    <div class="container main-container">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{{basePath}}/">Home</a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsible"
          aria-controls="collapsible"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsible">
          <ul class="navbar-nav">
            {{#each navPages}}
              <li class="nav-item">
                <a class="nav-link" href="{{../basePath}}{{url}}">{{linkText}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </nav>

      {{{body}}}
    </div>
  </body>
</html>
