<div class="row">
  <div class="col-sm">
    {{#if flashMessage}}
      <div class="alert alert-danger" role="alert">{{flashMessage}}</div>
    {{/if}}

    <h1>Categories</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Index</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{index}}</td>
            <td>
              <div class="list-button-container">
                <a class="btn btn-dark" href="/categories/edit/{{id}}">Edit</a>
                &nbsp;
                <form action="/categories/delete/{{id}}" method="POST" onsubmit="return confirm('Are you sure?');">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <a class="btn btn-dark" href="/categories/create">Create new</a>
  </div>
</div>
